ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    justify-content: right;
    padding-right: 8px;
    padding-right: 50px;
    
}

a {
    text-decoration: none;
    color: #4D4D4D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    vertical-align: middle;
    font-size:small;
    line-height: 1%;


}

li {
    display: inline;
    padding-bottom: 200px;
    
}



header {
    display: flex;
    width: 1002.34;
    height: 100%;
    padding-left: 75px;
    padding-right: 75px;
    justify-content: space-between;
 


    
}

nav {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    
   
    


}
.buttom{
    background-color: #4CAF50;
    border-radius: 3px;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11.14;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a{
    padding: 5px;
    line-height: 13px;


   
}
.buttom a{
    vertical-align: 20px;
}
.les{
    color: #4D4D4D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#from{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4CAF4F;
}
.greytext{
    color: #4D4D4D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
}
#reg{
    background-color: #4CAF50;
    border-radius: 3px;
    color: white;
    padding: 17px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11.14;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#block1{
    display: inline-block;
    
    
}
#man{
    width: 272px;
    height: 283px;
    float: right;
}
#allBlock1 {
    margin: 67px 100px 67px 100px;
    

}
#dot{
    text-align:center;
    margin-bottom: 28px;
}
#OurClients{
    text-align: center;
    padding: 0%;
    margin-bottom: 28px;
}
#logos{
    justify-content: space-around;
    display: flex;
    margin: 11px 100px 0px 100px;
}
.logos{
    width: 33px;
    height: 33px;
}
#allBlock{
    width: 100%;
}