.logo img {
    width: 107.54px;
    height: 16.71px;
}

.header {
    background-color: white;
    justify-content: space-between;
    display: flex;
}

body {
    background-color: black;
}

ul li {
    display: inline-block;
}

ul {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #4D4D4D;
    padding: 16.71px;
}

.button {
    background-color: #4CAF4F;
    color: white;
    border-radius: 2.78px;
}

.RightArrow {
    vertical-align: baseline;
    height: 11.14px;
    width: 11.14px;
}

a,
h1,
h2,
p {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4D4D4D;
}

h2 span {
    color: #4CAF4F;
    font-size: 44.55px;
}

.block1 h2 {
    font-size: 44.55px;
}

.Subtext {
    color: #717171;
    font-size: 11.14px;
}

.block1 {
    background-color: #F5F7FA;
    justify-content: space-between;
    display: flex;
}

.imgBlock1 {
    width: 272.16px;
    height: 283.3px;
}
.dots{
    background-color: #F5F7FA;
    text-align: center;
}
.clients {
    background-color: white;
    display: block;
    text-align: center;
}
.Titletext{
    font-size: 25.06px;
}
.logoClients{
    background-color: white;
    display: flex;
    justify-content:space-between;
}
.logoClients img{
    width: 33.41px;
    height: 33.41px;
}